<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Játékosok</title>
</head>
<body>
<h1>Játékosok listája</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Jelenlegi zseton</th>
        <th>Összes generált zseton</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.username}"></td>
        <td th:text="${player.currentChips}"></td>
        <td th:text="${player.totalGeneratedChips}"></td>
        <td>
            <a th:href="@{/players/delete/{id}(id=${player.id})}" class="btn btn-danger btn-sm"
               onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
