<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Regisztráció</title>
  <style>
    form {
      max-width: 300px;
      margin: auto;
    }
    input[type="text"],
    input[type="password"],
    .full-width-button {
      width: 100%;
      box-sizing: border-box;
      padding: 8px;
      margin-top: 8px;
    }
    .text-center {
      text-align: center;
    }
  </style>
</head>
<body>
<h2 class="text-center">Regisztráció</h2>

<form th:action="@{/players/register}" method="post">
  <label>Felhasználónév: </label><br/>
  <input type="text" name="username"/><br/>
  <label>Jelszó: </label><br/>
  <input type="password" name="password"/><br/>
  <button type="submit" class="full-width-button">Regisztráció</button>
</form>

<div style="max-width:300px; margin: 16px auto 0;">
  <p class="text-center" style="margin-bottom: 8px;">Már van fiókod? Jelentkezz be!</p>
  <form th:action="@{/players/login}" method="get">
    <button type="submit" class="full-width-button">Bejelentkezés</button>
  </form>
</div>
</body>
</html>
