<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bejelentkezés</title>
  <style>
    form {
      max-width: 300px;
      margin: auto;
    }
    input[type="text"],
    input[type="password"],
    .full-width-button {
      width: 100%;
      box-sizing: border-box;
      padding: 8px;
      margin-top: 8px;
    }
  </style>
</head>
<body>
<h2 style="text-align:center;">Bejelentkezés</h2>

<form th:action="@{/users/login}" th:object="${user}" method="post">
  <label>Felhasználónév: </label><br/>
  <input type="text" th:field="*{username}"/><br/>
  <label>Jelszó: </label><br/>
  <input type="password" th:field="*{password}"/><br/>
  <button type="submit" class="full-width-button">Bejelentkezés</button>
</form>

<form th:action="@{/users/register}" method="get" style="max-width:300px; margin: 16px auto 0;">
  <button type="submit" class="full-width-button">Regisztráció</button>
</form>
</body>
</html>
